## Log Analysis SAL

In [31]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [32]:
font = {'weight' : 'normal','size'   : 18}
title_font = {'weight' : 'normal','size'   : font["size"]*1.5}
axis_font = {'weight' : 'bold','size'   : font['size']}

matplotlib.rc('font', **font)

In [33]:
df = pd.read_csv('data/sal.csv', sep='\t')
df = df.drop(["execution_time", "action", "client_version", "course_id"], axis=1)
df.head()

,log_entry_id,user_id,session_id,target_id,params,timestamp,group_id,description
0,35181,5143,001418B63E940820232686FDE4D7A174,0,NaN,2012-02-29 15:24:22,436,login
1,35182,5143,001418B63E940820232686FDE4D7A174,12688,NaN,2012-02-29 15:31:18,434,adding_resource
2,35183,5143,001418B63E940820232686FDE4D7A174,12688,NaN,2012-02-29 15:31:24,434,rating_resource
3,35184,5143,001418B63E940820232686FDE4D7A174,12688,2613,2012-02-29 15:31:58,434,commenting_resource
4,35185,5143,001418B63E940820232686FDE4D7A174,0,NaN,2012-02-29 15:32:52,434,logout

In [34]:
userids = list(df.user_id.unique())

In [39]:
def get_search_sessions(df, userid):
    usersearchsessions = list(df[(df.user_id == userid) & (df.description == "searching")].session_id.unique())
    dss = df[(df.user_id == userid) & (df.session_id.isin(usersearchsessions))]
    
    return dss

In [41]:
dss = get_search_sessions(df, userids[0])
dss.head(20)

,log_entry_id,user_id,session_id,target_id,params,timestamp,group_id,description
111,318795,5143,06662EA46802D6823FC33A86686EDBF0,0,NaN,2017-03-03 06:21:19,0,login
112,318796,5143,06662EA46802D6823FC33A86686EDBF0,169203,404891,2017-03-03 06:21:20,0,downloading
113,318797,5143,06662EA46802D6823FC33A86686EDBF0,0,NaN,2017-03-03 06:21:34,0,logout
114,318803,5143,06662EA46802D6823FC33A86686EDBF0,0,NaN,2017-03-03 06:22:54,0,login
115,318804,5143,06662EA46802D6823FC33A86686EDBF0,193082,639996,2017-03-03 06:22:58,0,downloading
116,318805,5143,06662EA46802D6823FC33A86686EDBF0,0,prova,2017-03-03 06:23:25,0,searching
117,318806,5143,06662EA46802D6823FC33A86686EDBF0,0,prova,2017-03-03 06:23:31,0,searching
118,318807,5143,06662EA46802D6823FC33A86686EDBF0,200421,NaN,2017-03-03 06:23:58,434,adding_resource
119,318808,5143,06662EA46802D6823FC33A86686EDBF0,200421,Pino,2017-03-03 06:24:25,434,deleting_resource
120,318809,5143,06662EA46802D6823FC33A86686EDBF0,0,NaN,2017-03-03 06:24:27,0,logout
151,362059,5143,0A9CC6B398A54D174F69918B15D659D6,0,NaN,2017-08-02 16:28:44,0,login
152,362060,5143,0A9CC6B398A54D174F69918B15D659D6,169203,404891,2017-08-02 16:28:45,0,downloading
153,362061,5143,0A9CC6B398A54D174F69918B15D659D6,285,ortensia,2017-08-02 16:28:50,0,searching
154,362062,5143,0A9CC6B398A54D174F69918B15D659D6,286,ortensia,2017-08-02 16:29:04,0,searching
155,362063,5143,0A9CC6B398A54D174F69918B15D659D6,203983,286 - 39,2017-08-02 16:29:26,0,adding_resource
162,116524,5143,0BC5E4A4B94AE9FBD97D5D3D6901E348,0,NaN,2015-03-13 11:09:04,464,login
163,116525,5143,0BC5E4A4B94AE9FBD97D5D3D6901E348,68905,speeches by famous people,2015-03-13 11:13:22,434,tagging_resource
164,116526,5143,0BC5E4A4B94AE9FBD97D5D3D6901E348,68905,3678,2015-03-13 11:13:40,434,commenting_resource
165,116527,5143,0BC5E4A4B94AE9FBD97D5D3D6901E348,12690,NaN,2015-03-13 11:14:27,434,downloading
166,116528,5143,0BC5E4A4B94AE9FBD97D5D3D6901E348,12702,NaN,2015-03-13 11:14:27,434,downloading